---
import About from "../components/About.astro";
import Contact from "../components/Contact.tsx";
import Footer from "../components/Footer.astro";
import HeaderTs from "../components/HeaderTs/HeaderTs";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects";
import ScrollToTop from "../components/ScrollToTop";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Alexis Ramirez | Portfolio">
  <main>
    <HeaderTs client:load />
    <Hero />
    <About />
    <Projects client:load />
    <Contact client:load />

    <Footer />
    <!-- <ScrollToTop client:load /> -->
  </main>
</Layout>
