---
---

<section id="about" class="py-20 px-6 bg-transparent">
      <h2 class="text-4xl font-bold text-duron text-center mb-12">
        About <span class="text-white">Me</span>
      </h2>
      <div class="max-w-5xl mx-auto flex flex-col md:flex-row items-center gap-12">
        <div class="w-72 h-72 bg-black/30 rounded-lg flex items-center justify-center shadow-lg">
          <i class="fas fa-user-tie text-6xl text-white/60">
            <img src="/Me2.png" alt="Me" class="rounded-lg" />
          </i>
        </div>
        <div class="flex-1">
          <h3 class="text-2xl text-white font-semibold mb-4">
            Frontend Developer with Backend Knowledge
          </h3>
          <p class="text-white/70 mb-6">
            I'm Alexis Ramirez, a passionate Frontend Developer with experience
            in creating modern web applications. I have solid knowledge of
            backend technologies which allows me to understand the full picture
            of web development.
          </p>

          <h4 class="text-duron font-medium mb-3">My Skills</h4>
          <div class="flex flex-wrap gap-3">
            {[
              "HTML5",
              "CSS3",
              "JavaScript",
              "TypeScript",
              "React",
              "TailwindCSS",
              "SQL Server",
              "C#",
              "Entity Framework",
              "ASP.NET Core (WebApi)"
            ].map((skill) => (
              <span
                id={skill}
                class="bg-black/40 text-white text-sm px-4 py-2 rounded-full border border-gray-900"
              >
                {skill}
              </span>
            ))}
          </div>
        </div>
      </div>
    </section>

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

    gsap.from("#about h2", {
      scrollTrigger: {
        trigger: "#about",
        start: "top 80%",
      },
      y: 40,
      opacity: 0,
      duration: 1,
      ease: "power2.out",
    });

    gsap.from("#about .flex", {
      scrollTrigger: {
        trigger: "#about",
        start: "top 70%",
      },
      y: 40,
      opacity: 0,
      duration: 1.2,
      delay: 0.2,
      ease: "power2.out",
    });

</script>
