---
import Logo from "./icons/Logo.astro";


---

<header class="flex justify-between items-center max-auto">
  <nav class="flex flex-row gap-x-5">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/project">Projects</a>
    <a href="/contact">Contact</a>
  </nav>
</header>
