---
import Analytics from "@vercel/analytics/astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <Analytics />
    <title>{title}</title>
  </head>
  <body class="bg-hero bg-fixed bg-cover text-white" >
    <slot />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
  }
  html {
    font-family: system-ui, sans-serif;
  }
  body {
    display: flex;
    color: white;
    justify-content: center;
    flex-direction: column;
    overscroll-behavior: smooth;
  }
  Header {
  }
  .nav-link {
    position: relative;
  }

  .nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #6e8efb;
    transition: width 0.3s ease;
  }

  .nav-link:hover::after,
  .nav-link.active::after {
    width: 100%;
  }
</style>
